*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 95%;
    font-family: 'Heebo';
}
body{
    background-color: #FFFFFF;
}

nav{

    text-align: right;

}
nav .log {
    align-items:flex-end ;
}
nav .logo ul {

    list-style: none;
    display: flex; 
    margin-left: 90%;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;   
}
nav .logo ul li a {

    text-decoration: none;
    color: black;
 padding: 60px; 
}

.A-red:hover{

    color: #FF6464;

}
a:hover{
    color: #FF6464;
}
.big-section{

    margin: 100px auto;
    width: 70%;
    margin-left: 400px; 
}

.H1{

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    width: 50%;
}

.Year{
    border-radius: 10px ;
    padding: 3px;
    width: 62px;
    margin-left: -3%;
    text-align: center;
    background-color: #FF7C7C;
    color: white;
    font-size: small;
    
}
.radious{
    margin: 25px;
    display: flex;
   
}

.Dash{
    margin:  auto 25px;
   
}

img{

    margin: 40px 0%;
}

.footer{

    margin: 40px auto;
    width: 20%;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
}

i{
    font-size: 35px;
    padding: 12px;
}

.footer  p{
    margin: 20px auto;
    font-size: 16px;
}
a{
    color: #000000;
}

